
/*Nav resolution tablette*/

.Nav {
   
    flex-direction: row;
    align-items: center;
}

.Nav_ul {
    align-items: center;
    padding-bottom: 10px;
}

.Nav_img {
    height: 70px;
    margin: 15px 20px 0 100px;
    
}

.Nav_li {
    width: 50%;
}

/* Home tablette*/

.Home {



   padding-left: 50px;
    
    
}

.filter {
   flex-direction: column;
   margin-left: 0px;
   font-size: 20px;
}



.filter_p1 {
    padding-top: 0px;
    text-align: left;
    padding-bottom: 15px;
}




.filter_ul {
    flex-wrap: wrap;

}



    
    .info {
     justify-content: center;
     padding-right: 30px;
    }

/* Main Tablette */

.main {
    flex-direction: column;
    align-items: center;
    margin-right: 0px;
    margin-left: 0px;
    
}

/* Section 1 / 2 tablette */
.Pop {
    order: 1;
    width: 100%;
    margin-bottom: 30px;
    
}






#Heberg {
    
    justify-content: space-between;
    width: 100%;
    order: 2;
 
    
}

.Heberg_card_container {
    width: 50%;
}

/* Section 3 Tablette */

.Act_bis {
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


.Act_two-card,
.Card_large { 
width: 50%;
padding-bottom: 30px;
}


/* Footer */
footer {

    justify-content: space-around;
}

.footer_ul {
    padding-left: 20px;
}  
