


/*Nav resolution tablette*/

.Nav {
   
    flex-direction: row;
    align-items: center;
}

.Nav_ul {
    align-items: center;
    padding-bottom: 10px;
}

.Nav_img {
    height: 70px;
    margin: 15px 20px 0 100px;
    
}

 

/* Home tablette*/

.Home {

   width: 100%;
   padding-left: 50px;
    
    
}

.filter {
   flex-direction: column;
   margin-top: 40px;
   margin-left: 0px;
}



.filter_p1 {
    padding-top: 0px;
    text-align: left;
    padding-bottom: 15px;
}




.filter_ul {
    flex-wrap: wrap;

}



    
    .info {
     justify-content: center;
     padding-right: 30px;
    }

/* Main Tablette */

.main {
    flex-direction: column;
    align-items: center;
    
}

/* Section 1 / 2 tablette */
.Pop {
    order: 1;
    width: 90%;
    margin-bottom: 25px;
    
}






#Heberg {
    
    justify-content: space-between;
    width: 100%;
    order: 2;
 
    
}

.Heberg_card {
    margin: 7px;
}

/* Section 3 Tablette */

#Act {
    padding-left: 10px;
    padding-right: 10px;
}

.Act_bis {
    margin-left: -10px;
    margin-right: -10px;
}

.Act_two-card { 
    padding-left: 10px;
    padding-right: 10px;
 

}
.Card_large {
    padding-left: 10px;
    padding-right:10px;
}

.Act_title {
    padding-left: 20px;
}

/* Footer */
footer {
    padding: 30px;
    justify-content: space-around;
}

.footer_ul {
    width: 33.33%;
    padding-left: 20px;
}  
