.container {
    margin: 0px;
}


.header {
    flex-direction: column;
    border-bottom: 3px solid var(--grey);
}


.header_a:hover {
    color: var(--blue);
    border-bottom: 3px solid var(--blue);
    padding-bottom: 10px;
    border-top: none;
}   



.header_ul{
width: 100%;
justify-content: space-around;
}



/* Nav Iphone */

nav {
width: 90%;
align-items: center;
margin-left: 20px;
margin-right: 5px;
}



.filter_ul {
    font-size: 15px;
    white-space: nowrap;
}

.search_input {
    display: none;
}




.search_btn {
    display: block;
    border: 1px solid var(--blue);
    background-color: var(--blue);
    font-weight: bold;
    color: white;
    border-radius:13px 13px 13px 13px;
    padding: 19px;
}


 .info_icon {
    margin-right: auto;
}

/* Main iphone */

.main {
width: 100%;
}

.Pop {

border-radius: 0%;
width: 95%;
margin-right: 5px;
margin-left: 5px;
padding: 7px;
}
.Pop_star { 
padding-top: 10px;
}

.Heberg_title {
padding-left: 5%;
text-align: center;
justify-content: space-between;
white-space: nowrap;
}

.Pop_card {
    width: 90%;
    height: 28%;
}

.Pop_title {
    text-align: center;
    padding-left: 0%;
}

#Heberg {
    background-color: white;
    border: none;
}

.Heberg_container,
.Pop_container {
    flex-direction: column;
}

.Heberg_card,
.Act_card{
    margin: 20px;
    width: 92%;
    border:3px solid var(--grey)
}



.Heberg_plus{
text-align: left;

}

/* Section 3 "Activité à Marseille */
#Act {
    height: auto;
    width: 100%;
    margin-bottom: 45px;
}

.Act_bis{
    flex-direction: column;
    align-items: center;
  
}

.Act_title {
    text-align: center;
}
.Act_img {
    height: 200px;
}

.Act_card-large {
    width: 80%;
    height: 240px;
}

.Act_card-title {
text-align: center;
}

.Act_image-large { 
    height: 195px;

}

.Act_two-card {
    width:80%;
    height: 550px;
}

.Act_card-container { 
    margin-bottom: 10px;
    height: auto;
}


.Act_little-card1,
.Act_little-card2 {
    height: 45%;

}
.Act_little-card1 .img,
.Act_little-card2 .img {
    height: 180px;
}

/* Footer Iphone */


footer {
    width: 100%;
    height: 700px;
    flex-direction: column;
    
}

.footer_ul {
    margin-left: 3%;
}
