


/* ---Variable--- */  
:root {


    /* Colors*/

    --blue :  #0065FC;
    --blue-light : #DEEBFF;
    --grey : #F2F2F2;



    /* Shadows */
   
    --shadow-one-hover:  0px 5px 15px  var(--blue) ;
    --shadows-two-hover: 10px 10px 10px var(--blue-light) ;



}


/* --- Global --- */

* {
   box-sizing: border-box;
   /* box-sizing  */
   margin: 0px;
   padding: 0px;
   font-family: 'Raleway', sans-serif ;
   /*Police Raleway */
   
   }

 
   body {
    width: 100%;
    
  }

#Container1 {
    width: 95%;
    min-width: 340px;
    display: flex;
    flex-direction: column;
    margin: auto;
}


/* ---Header---*/
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 2px;
}

header ul {
display: flex;
list-style: none;
margin: 0px;
padding: 0px;
}

header img {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    margin: 45px 0px 0 45px;
}

header li {
    padding-top: 60px;
    font-size: large;
}
header .a {
    padding-left: 40px;
    padding-right: 40px;
}

header .a:link {
    text-decoration: none;
}

header .a:hover {
    color: var(--blue);
    border-top: 3px solid;
    padding-top: 58px;
}

/* Nav */

nav {
    
    display: flex;
    flex-direction: column;
    margin: 0px 6px 0px 30px
}

h1 {
font-size: x-large;



}
nav p {
font-size: medium;

}


/* Search area*/
nav #icon {
padding: 20px;
background-color: var(--grey);
border: 1px solid var(--grey);
border-radius:17px 0px 0px 17px;
}

nav form {
font-size: 15px;
display: flex;
align-items: center;
margin-top: 15px;
}

#Search {
    display: flex;
 
}



nav input[type=text] {
padding: 17px;
border: 2px solid var(--grey);
font-weight: bold;
font-size: 20px;
color: black;
}

nav #Mini-Recherche {
 display: none;
}

nav #text {
border: 1px solid var(--blue);
background-color: var(--blue);
font-weight: bold;
color: white;
border-radius:0 25px 25px 0;
padding: 20px;
}


/* Nav Filter */
nav #filter1 {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-bottom: 15px;

}

nav #p1 {
    
    padding-top: 40px;
    font-weight: bold;
    font-size: large;
    padding-right: 10px; 
    
}

nav ul {
   
    display: flex;
    list-style: none;
    font-weight: bold;
    align-items: center;
    padding-left: 0%;
    justify-content: space-around;
}




nav li {
    max-height: 60px;
    display: flex;
    border: 4px solid var(--grey);
    border-radius: 45px;
    margin: 18px;
    align-items: center;
    padding-right: 28px;
    padding-left: 17px;
    
}
nav #filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

nav #Noborder {
    display: flex;
    border: 0px;
    padding: 0%;
    margin: 1%;

}

nav .filter {
font-size: large;
margin-left: 15px;

}

nav .i {

    display: flex;
    margin-left: -34px;
    border: 4px solid var(--blue-light);
    background-color: var(--blue-light);
    padding: 14px;
    color: var(--blue);
    border-radius: 45px;
    
}

nav .li-hover {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .li-hover:hover {
 background-color: var(--blue-light);
 color:var(--blue);
}



nav #info{

display: flex;
align-items: center;
margin-bottom: 15px;

}

/* icone info */
nav .i2 {
font-weight: bold;
font-size: small;  
padding: 6px; 
border: 2px solid var(--grey);
color: var(--blue);
border-radius: 40%;
margin-right: 15px;
}

/* Main */ 
.main1 {
    margin-top: 10px;
   
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Section 1  "Hébergement à Marseille" */
    .ligne1 {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

  

    #section1 {
    
    width: 62%;
    background-color:var(--grey);
    padding: 2%;
    border: 1px solid var(--grey);
    border-radius: 3%;
   
    }

 .card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 30%;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    color: black;
    margin-top: 18px;
}


.card:link,
.card2:link,
.card-large:link,
.card-container,
.filter {
    text-decoration: none;
    
}

.card:hover {
    box-shadow: var(--shadow-one-hover);
    
}

.card-image {
  display: block;
   
   
}

.card-image img {
    height:115px;
    width: 100%;
    object-fit: cover;
    border: 2px solid white ;
    border-radius: 20px 20px 0px 0px;
}

.card-body {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    text-align: left;
    object-fit: fill;
    justify-content: space-around;
}
.card-title {
    font-weight: bold;
}



.card-star {
    font-size: medium;
    color:var(--grey);
}
.star1 {
    color: var(--blue);
}
.card-star:hover .star {
    color:var(--blue);
}

.card-star .star:hover ~.star {
    color:var(--grey);
}


.Plus {             
    padding-left: 5%;
    font-weight: bold;
    text-decoration: none;
    color:black;
    text-align: center;
 }

/*  Section 2 "Les plus populaires" */

.section2 {
    width: 36%;
    background-color:var(--grey);
    padding-left: 3%;
    border: 1px solid var(--grey) ;
    border-radius: 3%;
    padding: 2%;
}

.ligne2 {
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#star-origin {
   width: 90%;
   display: flex;
   justify-content: space-between;
   font-size: x-large;
}

.card2 {
    color: black;
    display: flex;
    height: 175px;
    width: 90%;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    object-fit: fill;
    font-size: 20;
}


.card-image2 {
    width: 30%;
    object-fit: fill;
    
}

.card-image2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white ;
    border-radius: 20px 0px 0px 20px;
}
.card-body2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 7%;
    object-fit: fill;
}

.card-title2 {
    font-weight: bold;
    object-fit: fill;
}
.card-value2 {
    
    object-fit: fill;
}
.card-star2 {
    font-size: medium;
    color:rgb(242, 242, 242);
    object-fit: fill;
}

.card-star2:hover .star {
    color:var(--blue);
}

.card-star2 .star:hover ~.star {
    color:var(--grey);
}

.card2:hover {
    width: 80%;
    height: 30%;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    box-shadow:  var(--shadows-two-hover);
}

/* Title main */

.titre2 {
    font-size: x-large;
    font-weight: bold;
    padding-right: 8%;
    margin-bottom: 15px;
    
}

.titre3 {
    font-size: x-large;
    font-weight: bold;
    padding-left: 4%;
}



/* Section 3 "Activités à Marseille" */

#section3 {
margin-top: 20px;
display: flex;
flex-direction: column;
width: 100%;
height: 750px;
}

.section3bis {
padding-top: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
height: 100%;
width: 100%;
}

/*  Card 1 / 2 */
.card-large {
 width: 20%;
 height: 540px;
 margin-top: 25px;
 border: 1px solid var(--grey) ;
 border-radius: 20px 20px 20px 20px;
 color: black;
}

.image-large {
    
    height: 90%;

}

.image-large img {
    width: 100%;
    height: 485px;
    object-fit: cover;
    border: 1px solid var(--grey) ;
    border-radius: 20px 20px 0px 0px;
}
  
.card-title3 {
    width: 100%;
    height: 60px;
    font-size: large;
    font-weight: bold;
    padding: 12px;
}

/* card column 2 / 3 */
.two-card {
 width: 20%;
 height: 540px;
 margin-top: 25px;
}

.card-container {
    
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--grey) ;
    border-radius: 20px 20px 20px 20px;
    color: black
}

.little-card1 {
    height: 50%;
    margin-bottom: 3px;
}

.little-card1 img {

    height: 220px;
    object-fit: cover;
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 20px 20px 0px 0px;
}

.little-card2 {
        height: 50%;
        
}

.little-card2 img {
    height: 220px;
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/* Footer */

footer {
    background-color: var(--grey) ;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    padding: 45px;
}


footer ul {
   width: 40%;
}


footer li {
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: large;
    font-weight: bold;
}

footer a,
footer a:link {
    text-decoration: none;
    color: black;
    font-size: large;
    padding-top: 8px;
}