


/* ---Variable--- */  
:root {


    /* Colors*/

    --blue :  #0065FC;
    --blue-light : #DEEBFF;
    --grey : #F2F2F2;



    /* Shadows */
   
    --shadow-one-hover:  0px 5px 15px  var(--blue) ;
    --shadows-two-hover: 10px 10px 10px var(--blue-light) ;



}


/* --- Global --- */

* {
   box-sizing: border-box;
   /* box-sizing  */
   margin: 0px;
   padding: 0px;
   font-family: 'Raleway', sans-serif ;
   /*Police Raleway */
   
   }

 
   body {
    width: 100%;
 
  }

.container {
    max-width: 1640px;
    width: 95%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    margin: auto;
}


/* ---Header---*/


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: 2px;
}

header ul {
display: flex;
list-style: none;
margin: 0px;
padding: 0px;
}

header img {
    display: flex;
    justify-content: flex-start;
    height: 50px;
    margin: 45px 0px 0 45px;
}

header li {
    padding-top: 60px;
    font-size: large;
}
header .a {
    padding-left: 40px;
    padding-right: 40px;
}

header .a:link {
    text-decoration: none;
}

header .a:hover {
    color: var(--blue);
    border-top: 3px solid;
    padding-top: 58px;
}

/* Nav */

nav {
    
    display: flex;
    flex-direction: column;
    margin: 0px 6px 0px 30px
}

h1 {
font-size: x-large;



}
nav p {
font-size: medium;

}


/* Search area*/
nav .search_icon {
padding: 20px;
background-color: var(--grey);
border: 1px solid var(--grey);
border-radius:17px 0px 0px 17px;
}

nav form {
font-size: 15px;
display: flex;
align-items: center;
margin-top: 15px;
}

.search {
    display: flex;
 
}



nav input[type=text] {
padding: 17px;
border: 2px solid var(--grey);
font-weight: bold;
font-size: 20px;
color: black;
}

nav .search_btn {
 display: none;
}

nav .search_input {
border: 1px solid var(--blue);
background-color: var(--blue);
font-weight: bold;
color: white;
border-radius:0 25px 25px 0;
padding: 20px;
}


/* Nav Filter */
nav .filter {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-bottom: 15px;

}

nav .filter_p1 {
    
    padding-top: 35px;
    font-weight: bold;
    font-size: large;
    padding-right: 15px; 
    
}

.filter_p {
 color: black;
 margin-left: 10px;
}

nav .filter_ul {
    width: 70%;
    display: flex;
    flex-direction: row;
    
    font-weight: bold;
    align-items: center;
    padding-left: 0%;
}



nav li {
    max-height: 50px;
    display: flex;
    border: 4px solid var(--grey);
    border-radius: 45px;
    margin: 18px;
    padding-right: 28px;
    padding-left: 17px;
    
}




nav .filter {
font-size: large;
margin-left: 15px;

}

nav .filter_icon {

    display: flex;
    margin-left: -34px;
    border: 4px solid var(--blue-light);
    background-color: var(--blue-light);
    padding: 12px;
    color: var(--blue);
    border-radius: 50%;
    
}

nav .filter_li-hover {
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .filter_li-hover:hover {
 background-color: var(--blue-light);
 color:var(--blue);
}



nav .info{

display: flex;
align-items: center;
margin-bottom: 15px;

}

/* icone info */
nav .info_icon {
font-weight: bold;
font-size: 14px;  
padding: 10px 10px; 
border: 2px solid var(--grey);
color: var(--blue);
border-radius: 50%;
margin-right: 15px;
}

/* Main */ 
.main {
    margin-top: 10px;
    word-break: break-all;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/* Section 1  "Hébergement à Marseille" */
 
  

    #Heberg {
   
    
    width: 62%;
    background-color:var(--grey);
    padding: 2%;
    border: 1px solid var(--grey);
    border-radius: 3%;
   
    }

    .Heberg_title {
        font-size: x-large;
        font-weight: bold;
        padding-right: 8%;
        margin-bottom: 15px;
        
    }
    
    .Heberg_container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
    

 .Heberg_card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 230px;
    width: 30%;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    color: black;
    margin-top: 18px;
}


.Heberg_card:link,
.Pop_card:link,
.Act_card-large:link,
.Act_card-container:link,
.filter_p:link {
    text-decoration: none;
    
}

.Heberg_card:hover {
    box-shadow: var(--shadow-one-hover);
    
}

.Heberg_card-image {
  display: block;
   
   
}

.Heberg_card-image img {
    height:115px;
    width: 100%;
    object-fit: cover;
    border: 2px solid white ;
    border-radius: 20px 20px 0px 0px;
}

.Heberg_card-body {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    text-align: left;
    object-fit: fill;
    justify-content: space-around;
}
.Heberg_card-title {
    font-weight: bold;
}



.Heberg_card-star {
    font-size: medium;
    color:var(--grey);
}
.star-blue {
    color: var(--blue);
}
.Heberg_card-star:hover .star {
    color:var(--blue);
}

.Heberg_card-star .star:hover ~.star {
    color:var(--grey);
}


.Heberg_plus {             
    padding-left: 5%;
    font-weight: bold;
    text-decoration: none;
    color:black;
    text-align: center;
 }

/*  Section 2 "Les plus populaires" */

.Pop {
    width: 36%;
    background-color:var(--grey);
    padding-left: 3%;
    border: 1px solid var(--grey) ;
    border-radius: 3%;
    padding: 2%;
}

.Pop_star {
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: x-large;
 }

.Pop_container{
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Pop_title {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 15px;
}


.Pop_card {
    color: black;
    display: flex;
    height: 160px;
    width: 90%;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    object-fit: fill;
   
}


.Pop_card-image {
    width: 30%;
    object-fit: fill;
    
}

.Pop_card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 2px solid white ;
    border-radius: 20px 0px 0px 20px;
}
.Pop_card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 7%;
    object-fit: fill;
}

.Pop_card-title {
    font-weight: bold;
    object-fit: fill;
}
.Pop_card-value {
    
    object-fit: fill;
}
.Pop_card-star {
    font-size: medium;
    color:rgb(242, 242, 242);
    object-fit: fill;
}

.Pop_card-star:hover .star {
    color:var(--blue);
}

.Pop_card-star .star:hover ~.star {
    color:var(--grey);
}

.Pop_card:hover {
    width: 80%;
    height: 30%;
    font-size: large;
    font-weight: bold;
    text-align: center;
    box-shadow:  var(--shadows-two-hover);
}





/* Section 3 "Activités à Marseille" */

#Act {
margin-top: 20px;
display: flex;
flex-direction: column;
width: 100%;
height: 750px;
}

.Act_title {
    font-size: x-large;
    font-weight: bold;
    padding-left: 2%;
}

.Act_bis {
padding-top: 15px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
height: 100%;
width: 100%;
}

/*  Card 1 / 2 */
.Act_card-large {
 width: 20%;
 height: 540px;
 margin-top: 25px;
 border: 2px solid var(--grey) ;
 border-radius: 20px 20px 20px 20px;
 color: black;
}

.Act_image-large {
    
    height: 90%;

}

.Act_image-large img {
    width: 100%;
    height: 485px;
    object-fit: cover;
    border: 2px solid var(--grey) ;
    border-radius: 20px 20px 0px 0px;
}
  
.Act_card-title {
    width: 100%;
    height: 60px;
    font-size: large;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}

/* card column 2 / 3 */
.Act_two-card {
 width: 20%;
 height: 540px;
 margin-top: 25px;
}

.Act_card-container {
    
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid var(--grey) ;
    border-radius: 20px 20px 20px 20px;
    color: black
}

.Act_little-card1 {
    height: 50%;
    margin-bottom: 3px;
}

.Act_little-card1 img {

    height: 220px;
    object-fit: cover;
    width: 100%;
    border: 2px solid var(--grey);
    border-radius: 20px 20px 0px 0px;
}

.Act_little-card2 {
        height: 50%;
        
}

.Act_little-card2 img {
    height: 220px;
    width: 100%;
    border: 2px solid var(--grey);
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/* Footer */

footer {
    background-color: var(--grey) ;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 250px;
    padding: 40px;
}


footer ul {
   width: 35%;
}


footer li {
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: large;
    font-weight: bold;
}

footer a,
footer a:link {
    text-decoration: none;
    color: black;
    font-size: large;
    padding-top: 8px;
}