
* {
    box-sizing: border-box;
   /* box-sizing  */
  
   }

 
   body {
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: hsl(0, 0%, 100%);
    font-family: 'Raleway', sans-serif ;
    font-size: 20px;
    /*Police Raleway */
  }

#Container1 {
    
    width: 1640px;
    min-width: 320px;
    padding: 15px;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    
}

header ul {
display: flex;
list-style: none;

}

header img {
    width: 115px;
    height: 50px;
    margin: 20px 30px 0 30px;
}

header li {
    margin: 0 45px 0 35px;
    text-decoration: none;
    font-size: large;
}

header .a:link {
    text-decoration: none;
}

header .a:hover {
    color: #0065FC;
    border-top: 3px solid;
    padding-top: 30px;
}

/* Nav */

nav {
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 320px;
}

h1 {
font-size: x-large;
margin-bottom: auto;
word-break: break-all ;


}
nav p {
font-size: medium;

}


/* Search area*/
nav #icon {
padding: 20px;
}

nav form {
display: flex;
margin-right: auto;
border: 1px solid rgb(242, 242, 242);
background-color: rgb(242, 242, 242);
border-radius: 17px;
}

nav input[type=text] {
border: 1px solid rgb(242, 242, 242);
font-weight: bold;
color: black;
}

nav #Mini-Recherche {
 display: none;
}

nav #text {
border: 1px solid #0065FC;
background-color: #0065FC;
font-weight: bold;
color: white;
border-radius:0 25px 25px 0;
padding: 20px;
}

nav #text:hover {
    background-color: #DEEBFF;
    color: #0065FC;
}
/* Nav Filter */
nav #filter1 {
    display: flex;
    
    align-items: center;
}

nav #p1 {
    
    
    font-weight: bold;
    font-size: large;
     
    
}

nav ul {

    display: flex;
    list-style: none;
    font-weight: bold;
    align-items: center;
    padding-left: 0%;
}




nav li {
    max-height: 60px;
    display: flex;
    border: 4px solid rgb(242, 242, 242);
    border-radius: 45px;
    margin: 18px;
    align-items: center;
    padding-right: 28px;
    padding-left: 17px;
    
}
nav #filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

nav #Noborder {
    display: flex;
    border: 0px;
    padding: 0%;
    margin: 1%;
}

nav .filter {
font-size: large;
margin-left: 15px;

}

nav .i {

    display: flex;
    margin-left: -34px;
    border: 4px solid #DEEBFF;
    background-color: #DEEBFF;
    padding: 14px;
    color: #0065FC;
    border-radius: 45px;
    
}

nav .li-hover:hover {
 background-color: #DEEBFF;
 color:#0065FC;
}



nav #info{

display: flex;
align-items: center;
margin-left: 25px;

}

/* icone info */
nav .i2 {
font-weight: bold;
font-size: small;  
padding: 6px; 
border: 2px solid rgb(242, 242, 242);
color: #0065FC;
border-radius: 40%;
margin-right: 15px;
}

/* Main */ 
.main1 {
    height: auto;
    min-width: 400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Section 1  "Hébergement à Marseille" */
    .ligne1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

    .ligne2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4%;
    padding-bottom: 5%;
}

    #section1 {
    
    width: 60%;
    background-color:rgb(242, 242, 242);
    padding: 2%;
    border: 1px solid rgb(242, 242, 242) ;
    border-radius: 3%;
    padding-top: 1%;
    }

 .card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 30%;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    color: black;
}


.card:link,
.card2:link,
.card-large:link,
.card-container {
    text-decoration: none;
    
}

.card:hover {
    box-shadow: 0px 5px 15px  #0065FC ;
    
}

.card-image {
    height: 150px;
    position: relative;
    overflow: hidden;
    border: 2px solid white ;
    border-radius: 20px 20px 0px 0px;
}

.card-image img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.card-body {
    overflow: hidden;
    text-align: left;
    margin-left: 4%;
    margin-top: -5%;
    
}

.card-title {
    font-weight: bold;
}

.card-value {
font-size: large;
margin-top: -4%;
}

.card-star {
    font-size: medium;
    margin-top: -4%;
    color:rgb(242, 242, 242);
}
.star1 {
    color: #0065FC;
}
.card-star:hover .star {
    color:#0065FC;
}

.card-star .star:hover ~.star {
    color:rgb(242, 242, 242);
}


.Plus {             
    padding-left: 2%;
    font-weight: bold;
    text-decoration: none;
    color:black;
    text-align: center;
 }

/*  Section 2 "Les plus populaires" */

.section2 {

    overflow: hidden;
    width: 36%;
    background-color:rgb(242, 242, 242);
    padding-left: 3%;
    border: 1px solid rgb(242, 242, 242) ;
    border-radius: 3%;
    
  
}


.card2 {
    color: black;
    display: flex;
    height: 25%;
    width: 90%;
    background-color: white;
    border: 4px solid white;
    border-radius: 20px;
    margin-bottom: 5%;
}


.card-image2 {
    min-width: 42%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border: 2px solid white ;
    border-radius: 20px 0px 0px 20px;
}

.card-image2 img {
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-body2 {
    margin-left: 7%;
}

.card-title2 {
    font-weight: bold;
    font-size: large;
}
.card-value2 {
    font-size: large;
}
.card-star2 {
    font-size: medium;
    color:rgb(242, 242, 242);
    margin-top: 10%
}

.card-star2:hover .star {
    color:#0065FC;
}

.card-star2 .star:hover ~.star {
    color:rgb(242, 242, 242);
}

.card2:hover {
    width: 75%;
    height: 32%;
    font-size: x-large;
    font-weight: bold;
    align-items: center;
    box-shadow: 10px 10px 10px #DEEBFF ;
}

/* Title main */

.titre2 {
    display: flex;
    font-size: x-large;
    font-weight: bold;
    justify-content: space-between;
    padding-right: 8%;
}

.titre3 {
    font-size: x-large;
    font-weight: bold;
    padding-left: 4%;
}



/* Section 3 "Activités à Marseille" */

#section3 {
display: flex;
flex-direction: column;
width: 100%;
height: 750px;
}

.section3bis {
display: flex;
flex-direction: row;
justify-content: space-around;
height: 90%;
width: 100%;
}

/*  Card 1 / 2 */
.card-large {
 width: 20%;
 height: 73%;
 display: flex;
 flex-direction: column;
 border: 1px solid rgb(242, 242, 242) ;
 border-radius: 20px 20px 20px 20px;
 color: black;
}

.image-large {
    
    height: 90%;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(242, 242, 242) ;
    border-radius: 20px 20px 0px 0px;
}

.image-large img {
    min-width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
.card-title3 {
    font-size: large;
    font-weight: bold;
    margin-left: 15px;
}

/* card column 2 / 3 */
.two-card {
 width: 20%;
 height: 80%;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 
}

.card-container {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(242, 242, 242) ;
    border-radius: 20px 20px 20px 20px;
    margin: 5px;
    color: black
}

.little-card1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(242, 242, 242) ;
    border-radius: 20px 20px 0px 0px;

    
}

.little-card1 img {
    height: 130%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.little-card2 {
        height: 100%;
        width: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        border: 2px solid rgb(242, 242, 242) ;
        border-radius: 20px 20px 0px 0px;
        padding: 5px;
}

.little-card2 img {
    height: 200%;
    width: 170%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Footer */

footer {
    background-color: rgb(242, 242, 242) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    min-width: 400px;
}


footer ul {
 margin-right: auto;
}


footer li {
    display: flex;
    flex-direction: column;
}

footer p {
    font-size: large;
    font-weight: bold;
}

footer a,
footer a:link {
    text-decoration: none;
    color: black;
    font-size: large;
    padding-top: 8px;
}